<div class="alert alert-success" ng-if="customerCtrl.alerta">
  Has actualizado correctamente tu cliente
</div>
<div class="row">
	<div class="col-md-6">
		<ul><h1 class="text-info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		 {{customerCtrl.cliente.name}}</h1> 
		<li>DIRECCION: {{customerCtrl.cliente.address}}</li>
		<li>EMAIL: {{customerCtrl.cliente.email}}</li>
		<li>TLF: {{customerCtrl.cliente.phone}}</li>
		<li>CIUDAD: {{customerCtrl.cliente.town}}</li>
		<li>PAIS: {{customerCtrl.cliente.country}}</li>
		
		</ul>
		<button class="btn btn-success" ui-sref="main.customers">Atras</button>
		<button class="btn btn-success" ng-click="customerCtrl.toggleForm()">Editar</button>

		<customer-form ctrl="customerCtrl" ng-show="customerCtrl.showForm"></customer-form>


	</div>


	<div class=" col-md-6">
	<table class="table table-condensed">
	    <h1 class="text-info">Lista de Proyectos</h1> 
	    <thead>
	      <tr>
	        <th>NOMBRE</th>
	        <th>DESCRIPCION</th>
	      </tr>
	    </thead>
	    <tbody >
	      <tr ng-repeat="proyectoHtml in customerCtrl.cliente.projects">
	        <td>{{proyectoHtml.name}}</td>
	        <td>{{proyectoHtml.description}}</td>

	       <td>
	       	<div class="btn-group btn-group-xs">
	       		<button class="btn btn-info" ui-sref="customer()">
	              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Tareas
	            </button>
	            <button type="button" class="btn btn-danger" ng-click="customersCtrl.removeCustomer(proyectoHtml)">
	              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar 
	            </button>
	            </div>
	        </td> 
	      </tr>
	    </tbody>
	</table>
	</div>
</div>
